@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    margin-top: 0;
    margin-left: 0;
}

header {
    background-color: #6495ED;
    width: 20em;
    height: 220px;
    text-align: right;
    text-decoration: none;
    padding-right: 25px;
    padding-top: 20px;
}

header a {
    color:#FAEBD7;
    font-weight: 500;
    font-family: 'Lora', serif;
}

header h1 {
    font-size: 30px;
    
}  

h1 a:link {
    text-decoration: none;
  }

ul {
    margin-top: 1px;
}

li {
    list-style-type: none;
    
}

li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 2em;
}

nav a:link {
    text-decoration: none;
  }

nav a:visited {
    color: #FAEBD7;
} 

nav a:active {
    color: #DEB887;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

hr {
    margin-left: 25px;
    border-top: 1.5px solid;
    border-bottom: none;
    margin-right: 1px;
    color: #FAEBD7;
}

div.post-date{
    color: gray;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

section.post-content {
    margin-top: -15px;
}

article {
    background-color: white;
    box-shadow: 5px 5px 3px #d8d7d7;
    max-width: 295px;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 25px;
    padding: 30px;
    padding-left: 25px;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

article h2 {
    font-family: 'Lora', serif;
    font-size: 24px;
}

article h2 a {
    color: black;
}

article h2 a:visited {
    color: black;
}

article h2 a:active {
    color: #DEB887;
}

article h2 a:hover {
    color: #6495ED;
    text-decoration: underline;
}

article a:link {
    text-decoration: none;
    
  }

img {
    width: 100%;
    margin-top: 40px;
}

p a:link {
    color: #6495ED;
    text-decoration: none;
}

p a:visited {
    color: #6495ED;
}

p a:active {
    color: #DEB887;
}

p a:hover {
    text-decoration: underline;
}

p {
    font-weight: 600;
}



@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {

main {
    margin-top: -1260px;
    margin-left: 300px;
}

article {
    max-width: 525px;
    max-height: 650px;
    padding: 30px;
    padding-left: 30px;
    padding-right: 25px;
    font-size: 14px;
    margin-right: -25px;
}

img {
    width: 58%;
    margin-left: 80px;
}

header {
    width: 250px;
    height: 1270px
}

header h1 {
    font-size: 38px;
}

}


