//variables will follow

//colors
$body_background_color: darkred;
$form_background_color: white;
$input_box_color: white;
$headline_color : white;

body {
    background-color: $body_background_color;          
}